<h2>Dear <%= @user.username %>,</h2>
<p>Your privacy setting was successfully changed.</p>


<div class="user-data" style="font-size: 1.2em;">
	Your username: <%= @user.username %><br>
  Your email: <%= @user.email %>
</div>
<br><br>
<p>We're hoping to see you on the Med+ website soon<br>
<a href="http://localhost:3000/" target="_blank">http://localhost:3000/</a></p>
