<!--Start of contact -->
    <section class="px-4 mb-4" style=" padding-top: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- start right side of contact -->
            	<div class="thanks-check"><i class="far fa-check-circle"></i>
                <h1 style="font-weight: 800;"><i class="far fa-envelope" style="margin-right: 10px;"></i> Thank you!</h1>
							</div>

              <div class="thanks-message">
                <p class="lead">
									Your message was successfully sent. We will get back to you soon.<br>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                  expedita aperiam aliquid at.
                  Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                  mollitia inventore?
                </p>

                <div class="thanks-bird-image">
                 <%= image_tag 'contact_letter_02.png',class:"img-fluid mx-auto d-block",width:"180";  %>
                </div>

                <p class="pt-2 mb-4"><%= link_to root_path, class:"btn btn-info thanks-btn btn-lg mx-auto d-block mt-4" do %>
                	<i class="fas fa-home" style="margin-right: 5px;"></i> Back to home
                	<% end %>
                </p>
              </div><!-- End of thanks-message -->

          </div><!-- end of col-sm-12 -->

        </div><!-- end of row -->
      </div>
    </section>
  <!--End of contact-->
