<!--Start of contact -->
    <section class="px-4" style=" padding-top: 60px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <%= image_tag 'contact_letter_01.png',class:"img-fluid",width:"auto";  %>
                  </div><!-- end col-md-3 -->


                <div class="col-sm-9"><!-- start right side of contact -->
                	<div class="thanks-check"><i class="far fa-check-circle"></i>
                    <h1 style="font-weight: 800;"><i class="far fa-envelope" style="margin-right: 10px;"></i> Thank you!</h1>
									</div>

                  <div class="thanks-message">
                    <p class="lead">
											Your message was successfully sent. We will get back to you soon.<br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                      expedita aperiam aliquid at.
                      Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                      mollitia inventore?
                    </p>

                    <div class="col-sm-3">
                    <%= image_tag 'contact_letter_01.png',class:"img-fluid",width:"auto";  %>
                    </div>
                    <div class="col-sm-3">
                    <%= image_tag 'contact_letter_02.png',class:"img-fluid",width:"auto";  %>
                    </div>

                    <p class="pt-2"><%= link_to root_path, class:"btn btn-primary thanks-btn btn-lg mx-auto d-block mt-4" do %>
                    	<i class="fas fa-home" style="margin-right: 5px;"></i> Back to home
                    	<% end %>
                    </p>



                  </div>
              </div><!-- end right side of contact -->
            </div><!-- end of row -->
          </div><!-- end of col-sm-8 -->

          <div class="col-ms-12">
          	
          </div><!-- end of col-sm-12 --> 



        </div><!-- end of row -->
      </div>
    </section>
  <!--End of contact-->
